.navbar {
    background-color: #0a6f27;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.navbar-brand {
    font-size: 24px;
    margin-left: 20px;
    color: #fff;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-links a:hover{
    background-color: #42bb75;;
    border-radius: 8px;
}

.navbar-links a.active{
    background-color: #42bb75;
    border-radius: 8px;
}

.nav-icon{
    font-size: 36px;
    color: white;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .navbar-links {
        margin-right: 20px;
        margin-top: 10px;
    }
}
