.container {
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details h2 {
    font-size: 24px;
    color: #276e2b;
}

.recipe-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.recipe-details h3 {
    font-size: 20px;
    color: #276e2b;
    margin-top: 20px;
}

.recipe-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-details li {
    font-size: 16px;
    color: black;
    margin-top: 5px;
    list-style: none;
}

.recipe-details div {
    font-size: 16px;
    color: black;
    margin-top: 10px;
}


